.form {
  padding-bottom: 5rem;
}
.form-input {
  display: flex;
  flex-direction: column;
}

.input-1 {
  background: #ffffff;

  border: 1px solid #4e598c;
  border-radius: 10px;
  height: 64px;
  margin-bottom: 44px;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  padding: 0 1.3rem;
  width: 100%;
}

.label {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 1rem;
}

.email-label {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  position: relative;
}

.red-star {
  position: absolute;
  position: absolute;
  left: 146px;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  color: #eb5757;
}

.location {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.form-input-local {
  display: flex;
  flex-direction: column;
  grid-column: 1 / 3;
}

.buttons {
  display: flex;
  margin-top: 2rem;
  gap: 84px;
  align-items: center;
}

.next-button {
  border-radius: 10px;
  background: linear-gradient(180deg, #f2c94c 0%, #f2994a 100%);
  padding: 1rem 5rem;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  border: none;
  text-decoration: none;
  color: #f7f7ff;
}
select {
  -webkit-appearance: none;
  appearance: none;
}

.select-wrapper {
  position: relative;
  width: 100%;
}

.arrow {
  font-size: 1.5rem;
  top: 20px;
  right: 14px;
  position: absolute;
}

.cancel-payment {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  white-space: nowrap;
  color: #4e598c;
  text-decoration: none;
  cursor: pointer;
}

.email-para {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin: 1rem 0;
  color: #817e9e;
}
